body {
	background-color: #222223;
}

* {
	color: rgb(226, 47, 47);
	font-family: Arial, Helvetica, sans-serif;
}

/* Present title of abbreviations for screenreader */
/* https://openinclusion.com/blog/presenting-abbreviations-acronyms-for-screen-reader-users/ */
dfn > abbr[title]:after {
	content: ": (" attr(title) ")";
}

caption {
	font-style: italic;
	margin-bottom: 0.5em;
}

.darkblack {
	background-color: black;
}

.darkgrey {
	background-color: #222223;
}

.brightred {
	color: tomato;
}

.red {
	color: red;
}

*:focus {
	border: solid blueviolet 1em;
}

.yellow {
	color: yellow;
}

.lightblue {
	color: rgb(27, 123, 155);
}